# приложение
APP_ENV=local

# HTTP сервер
SERVER_PORT=8080

# CORS
CORS_ORIGINS=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_HEADERS=Authorization,Content-Type

# переменные для подключения к PostgreSQL
POSTGRES_HOST=notifications_postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=notifications_db
POSTGRES_SSL_MODE=disable

# переменные для подключения к Nats
NATS_HOST=nats
NATS_PORT=4222
NATS_USER=admin
NATS_PASSWORD=admin

# переменные для подключения к Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=admin
REDIS_DB=0

# бизнес-константы
CI_REPORT_CACHE_TTL=24h

# Reports HTTP client (tasks service)
REPORTS_CLIENT_TOKEN=local-dev-reports-token
REPORTS_CLIENT_BASE_URL=http://tasks_http:8080/api/v1

# переменные для подключения к SMTP серверу
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD="your-app-password"
SMTP_FROM=your-email@gmail.com
SMTP_FROM_NAME=Codurity
