# приложение
APP_ENV=local
SERVER_PORT=8080
JWT_SIGNING_KEY=local-dev-secret-change-me-local-dev-secret-change-me
SERVICE_TOKEN=internal-service-token-change-me-in-production

# CORS
CORS_ORIGINS=*
CORS_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_HEADERS=Authorization,Content-Type

# переменные для подключения к PostgreSQL
POSTGRES_HOST=users_postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=users_db
POSTGRES_SSL_MODE=disable

# переменные для подключения к Nats
NATS_HOST=nats
NATS_PORT=4222
NATS_USER=admin
NATS_PASSWORD=admin

# бизнес-константы (TTL, попытки, cooldown)
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_LEN=32

# хранилище аватаров
AVATAR_DIR=./uploads/avatars
AVATAR_PUBLIC=/uploads/avatars

# Git Auth HTTP client
HTTP_CLIENT_GIT_AUTH_CLIENT_TOKEN=d7cDSzPleedFECuJbksoeRNdiKAZZjFmm_6GDGv1H-E
HTTP_CLIENT_GIT_AUTH_CLIENT_BASE_URL=http://taskrunner:8000/api/v1/task_runner
